.newNote {
  width: 15rem;
  height: 15rem;
  background-color: rgba(255,255,255,60%);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 .2rem .1rem rgba(0,0,0,50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(0,0,0,25%);
}
.newNote:hover {
  cursor: pointer;
  color: rgba(0,0,0, 50%);
  background-color: rgba(255,255,255,40%);
  animation: cardClick 3;
}

@keyframes cardClick {
  from {
    border-radius: 1rem;
  }
  to {
    border-radius: 50%;
  }
}

.plus {
  width: 5rem;
  border-radius: 50%;
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .newNote {
    width: 100%;
  }
}