.container {
  background-color: #2974ff;
  


  max-height: calc(100vh - 5rem);
  padding: 1rem;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  
}