.navbar {
  background-color: #fff;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 .1rem 1rem rgba(0,0,0,30%);
  z-index: 2;
}

img {
  width: 10rem;
}